{% extends "base.html" %}

{% block title %}
    Error 415: Unsupported Media Type
{% endblock title %}

{% block content %}


<div class="error_message">

ERROR 415! Ο τυπος εικόνας δεν υποστήριζετε
</div>

<div class="error_image_container">
  <!-- Προσθέστε παρακάτω το μονοπάτι για μία κανονική εικόνα μέσα στα static files στο src του παρακάτω img tag -->
  <img class="error_image" width="1280" src="{{ url_for('static', filename='images/errors/415.jpg') }}">
</div>
{% endblock %}



